<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    
    <!-- configuracion de servlet en XML como en la versión 2.5 de la espec de Servlet -->
    <servlet>
        <servlet-name>RestarServlet</servlet-name>
        <servlet-class>cl.duoc.dej.RestarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestarServlet</servlet-name>
        <url-pattern>/Restar</url-pattern>
    </servlet-mapping>
    
</web-app>
